<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    {% block meta %}
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="">
    {% endblock %}
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inconsolata:wght@400;700&display=swap"
          rel="stylesheet">

    {% style "css/normalize.css" %}
    {% style "css/blog.css" %}
    {% style "css/lotus-highlightjs.min.css" %}
</head>
<body>
<nav id="nav">
    <div id="logo">
        <a title="{{title}}" href="{{index-uri}}">
            <img class="icon" src="https://pbs.twimg.com/profile_images/1648552521429053440/abmbth5e_400x400.jpg"
                 alt="Profile picture">
            <div class="text">
                <span class="text-title">Lucky Pradana</span>
                <span class="text-subtitle">Software Engineer</span>
            </div>
        </a>
    </div>

    <div class="menu-archive">
        <a title="Blog" href="{{archives-uri}}">
            <div class="text">
                <span class="text-title">Archives</span>
                <span class="text-subtitle">Blog posts</span>
            </div>
        </a>
    </div>

    <div class="menu-gallery">
        <a title="Gallery" href="{{index-uri}}{{page-root-uri}}/gallery">
            <div class="text">
                <span class="text-title">Analog</span>
                <span class="text-subtitle">Shots I took</span>
            </div>
        </a>
    </div>

    <div class="menu-about">
        <a title="About" href="{{index-uri}}{{page-root-uri}}/about">
            <div class="text">
                <span class="text-title">Biography</span>
                <span class="text-subtitle">Personal story</span>
            </div>
        </a>
    </div>
</nav>

<article id="main">
    {% block content %}
    {% endblock %}
</article>

<div id="footer">
    <hr/>
    {{author}} — 🔧 Made using by <a href="http://cryogenweb.org">Cryogen</a> · 🚀 Deployed using <a
        href="https://github.com">Github</a> and <a href="https://netlify.app">Netlify</a>.
</div>

{% script "js/highlight.pack.js" %}
<script>hljs.initHighlightingOnLoad();</script>

{% if post.klipse %} {{post.klipse|safe}} {% endif %}
{% if page.klipse %} {{page.klipse|safe}} {% endif %}
</body>
</html>
